In [27]:
EMPTY = "-"
ROOK = "ROOK"
KNIGHT ="KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

board[0][0] = ROOK
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK
board[4][2] = KNIGHT
board[3][4] = PAWN

print(board)

[['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', 'PAWN', '-', '-', '-'], ['-', '-', 'KNIGHT', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK']]

In [19]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# The matrix is magically updated here.
#
total = 0.0

for day in temps:
    total += day[11]

average = total / 31

print("Average temperature at noon:", average)

Average temperature at noon: 0.0

In [21]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# The matrix is magically updated here.
#

highest = -100.0

for day in temps:
    for temp in day:
        if temp > highest:
            highest = temp

print("The highest temperature was:", highest)

The highest temperature was: 40

In [24]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# The matrix is magically updated here.
#
hot_days = 0

for day in temps:
    if day[11] > 20.0:
        hot_days += 1

print(hot_days, "days were hot.")

1 days were hot.

In [25]:
cubed = [num ** 3 for num in range(5)]
print(cubed)  # outputs: [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

In [26]:
# A four-column/four-row table - a two dimensional array (4x4)

table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]

print(table)
print(table[0][0])  # outputs: ':('
print(table[0][3])  # outputs: ':)'

[[':(', ':)', ':(', ':)'], [':)', ':(', ':)', ':)'], [':(', ':)', ':)', ':('], [':)', ':)', ':)', ':(']]
:(
:)

In [28]:
# Cube - a three-dimensional array (3x3x3)

cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],

        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],

        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]

print(cube)
print(cube[0][0][0])  # outputs: ':('
print(cube[2][2][0])  # outputs: ':)'

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]
:(
:)

In [29]:
print("Enter a value: ")
a = int(input())

print("Enter a value: ")
b = int(input())

print("Enter a value: ")
c = int(input())

Enter a value:
1
Enter a value:
3
Enter a value:
2

In [31]:
def message():
    print("Enter a value: ")

print("We start here.")
message()
print("We end here.")

We start here.
Enter a value:
We end here.

In [36]:
def my_function():
    print(input("Enter word : "))
my_function()

Enter word : Hello World
Hello World

In [37]:
def message():
    print("Enter a value: ")

message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

Enter a value:
3
Enter a value:
2
Enter a value:
1

In [38]:
def message(number):
    print("Enter a number:", number)

number = 1234
message(1)
print(number)

Enter a number: 1
1234

In [39]:
def message(what, number):
    print("Enter", what, "number", number)

message("telephone", 11)
message("price", 5)
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter number number number

In [40]:
def my_function(a, b, c):
    print(a, b, c)

my_function(1, 2, 3)

1 2 3

In [41]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Luke", "Skywalker")
introduction("Jesse", "Quick")
introduction("Clark", "Kent")

Hello, my name is Luke Skywalker
Hello, my name is Jesse Quick
Hello, my name is Clark Kent