In [2]:
#tambah
print("Tambah")
print(-4 + 4)
print(-4. + 8)
#kurang
print("Kurang")
print(-4 - 4)
print(4. - 8)
print(-1.1)

Tambah
0
4.0
Kurang
-8
-4.0
-1.1

In [7]:
#prioritas
print(2 + 3 * 5)
#modulus
print(9 % 6 % 2) #operasi dari kiri
#pangkat
print(2 ** 2 ** 3) #operasi dari kanan

17
1
256

In [8]:
print(2 * 3 % 5)
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

1
10.0

In [9]:
#exercise 1
print((2 ** 4), (2 * 4.), (2 * 4))

16 8.0 8

In [10]:
#exercise 2
print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))

-0.5 0.5 0 -1

In [11]:
#exercise 3
print((2 % -4), (2 % 4), (2 ** 3 ** 2))

-2 2 512

In [16]:
#Variable
var = 1
print(var)

1

In [17]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [21]:
#kombinasi variabel dengan string 
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

In [22]:
#Menambahkan nilai baru ke variabel
var = 1
print(var)
var = var + 1
print(var)

1
2

In [23]:
var = 100
var = 200 + 300
print(var)

500

In [24]:
#memecahkan masalah matematika X^1/2 
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

In [31]:
#lab
john = 3
mary = 5
adam = 6
print(john,mary,adam,sep=", ")
total_apples = john + mary + adam
print("Total number of apples : " , total_apples)
#print("Total number of apples : " + str(total_apples))

3, 5, 6
Total number of apples :  14
Total number of apples : 14

In [33]:
#lab
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles*1.61
kilometers_to_miles = kilometers/1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [37]:
Rupiah = 20000
USD = 2

USD_to_Rupiah = USD*14483.70
Rupiah_to_USD = Rupiah/14483.70

print(USD, "USD is", round(USD_to_Rupiah, 2), "Rupiah")
print(Rupiah, "Rupiah is", round(Rupiah_to_USD, 2), "USD")

2 USD is 28967.4 Rupiah
20000 Rupiah is 1.38 USD

In [36]:
kg = 1000
gram = 8700

kg_to_gram = kg*1000
gram_to_kg = gram/1000

print(kg, "Kilogram =", round(kg_to_gram, 2), "Gram")
print(gram, "Gram =", round(gram_to_kg, 2), "Kilogram")

1000 Kilogram = 1000000 Gram
8700 Gram = 8.7 Kilogram