In [14]:
# lab
def is_year_leap(year):
    if (year%4 != 0):
        return False
    elif year%100 !=0:
        return True
    elif (year%400 !=0):
        return False
    else:
        return True

def days_in_month(year, month):
    month_len =[31,28,31,30,31,30,31,31,30,31,30,31]
    if is_year_leap(year) == True:
        if month==2:
            return month_len[month-1]+1
        else:
            return month_len[month-1]
    else:
        return month_len[month-1]

def day_of_year(year, month, day):
        if days_in_month(year,month) == day:
            if is_year_leap(year) == True:
                return 366
            else:
                return 365
        else:
            return None
        
print(day_of_year(2000, 12, 31))
print(day_of_year(1900,2,28))
print(day_of_year(2021,1,31))

366
365
365

In [51]:
def is_prime (num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [24]:
# lab
def liters_100km_to_miles_gallon(liters):
    return (100000/1609.344)*(3.785411784/liters)

def miles_gallon_to_liters_100km(miles):
    return (100000*3.785411784)/(miles*1609.344)

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.311431623931625
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239915
10.009131205673757

In [26]:
def multiply(a, b):
    return a * b

print(multiply(3, 4))    # outputs: 12


def multiply(a, b):
    return

print(multiply(3, 4))    # outputs: None

12
None

In [28]:
def wishes():
    return "Happy Birthday!"

w = wishes()

print(w)    # outputs: Happy Birthday!

Happy Birthday!

In [31]:
# Example 1
def wishes():
    print("My Wishes")
    return "Happy Birthday"

wishes()    # outputs: My Wishes


# Example 2
def wishes():
    print("My Wishes")
    return "Happy Birthday"

print(wishes())

# outputs: My Wishes
#          Happy Birthday

My Wishes
My Wishes
Happy Birthday

In [33]:
def hi_everybody(my_list):
    for name in my_list:
        print("Hi,", name)

hi_everybody(["Adam", "John", "Lucy"])

Hi, Adam
Hi, John
Hi, Lucy

In [34]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list

print(create_list(5))

[0, 1, 2, 3, 4]

In [36]:
# exercise 1
def hi():
    return
    print("Hi!")

hi()

In [38]:
# exercise 2
def is_int(data):
    if type(data) == int:
        return True
    elif type(data) == float:
        return False

print(is_int(5))
print(is_int(5.0))
print(is_int("5"))

True
False
None

In [39]:
# exercise 3
def even_num_lst(ran):
    lst = []
    for num in range(ran):
        if num % 2 == 0:
            lst.append(num)
    return lst

print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

In [40]:
# exercise 4
def list_updater(lst):
    upd_list = []
    for elem in lst:
        elem **= 2
        upd_list.append(elem)
    return upd_list

foo = [1, 2, 3, 4, 5]
print(list_updater(foo))

[1, 4, 9, 16, 25]

In [53]:
def my_function():
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [54]:
def my_function():
    global var
    var = 2
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 2
2

In [55]:
def my_function(n):
    print("I got", n)
    n += 1
    print("I have", n)


var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [60]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]
Print #5: [2, 3]

In [62]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0]  # Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

In [64]:
var = 2


def mult_by_var(x):
    return x * var


print(mult_by_var(7))    # outputs: 14

14

In [65]:
def mult(x):
    var = 5
    return x * var


print(mult(7))    # outputs: 35

35

In [67]:
def mult(x):
    var = 7
    return x * var


var = 3
print(mult(7))    # outputs: 49

49

In [74]:
def adding(x):
    var = 7
    return x + var


print(adding(4))    # outputs: 11
print(var)    # NameError (harusnya error keluar nilai karena cell yg lain sudah didefinisikan di cell lain)

11
5

In [72]:
var = 2
print(var)    # outputs: 2


def return_var():
    global var
    var = 5
    return var


print(return_var())    # outputs: 5
print(var)    # outputs: 5

2
5
5

In [76]:
# exercise 1
def message():
    alt = 1
    print("Hello, World!")


print(alt)

NameError: name 'alt' is not defined

In [78]:
# exercise 2
a = 1


def fun():
    a = 2
    print(a)


fun()
print(a)

2
1

In [80]:
# exercise 3
a = 1


def fun():
    global a
    a = 2
    print(a)


fun()
a = 3
print(a)

2
3

In [81]:
# exercise 4
a = 1


def fun():
    global a
    a = 2
    print(a)


a = 3
fun()
print(a)

2
2