In [1]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction(first_name = "James", last_name = "Bond") #nama parameter harus sama
introduction(last_name = "Skywalker", first_name = "Luke")

Hello, my name is James Bond
Hello, my name is Luke Skywalker

In [12]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)
adding(1, 2, 3)
adding(c = 1, a = 2, b = 3)
adding(3, c = 1, b = 2)
# adding(3, a = 1, b = 2) error karena mendefinisikan a 2x
adding(4, 3, c = 2)

1 + 2 + 3 = 6
2 + 3 + 1 = 6
3 + 2 + 1 = 6
4 + 3 + 2 = 9

In [14]:
def introduction(first_name, last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction("James", "Doe")
introduction("Henry")
introduction(first_name="William")

Hello, my name is James Doe
Hello, my name is Henry Smith
Hello, my name is William Smith

In [15]:
def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction()

Hello, my name is John Smith

In [16]:
def hi(name):
    print("Hi,", name)

hi("Greg")

Hi, Greg

In [18]:
def hi_all(name_1, name_2):
    print("Hi,", name_2)
    print("Hi,", name_1)

hi_all("Sebastian", "Konrad")

Hi, Konrad
Hi, Sebastian

In [19]:
def address(street, city, postal_code):
    print("Your address is:", street, "St.,", city, postal_code)

s = input("Street: ")
p_c = input("Postal Code: ")
c = input("City: ")

address(s, c, p_c)

Street: Bird
Postal Code: 12324
City: LA
Your address is: Bird St., LA 12324

In [21]:
# Ex. 1
def subtra(a, b):
    print(a - b)

subtra(5, 2)    # outputs: 3
subtra(2, 5)    # outputs: -3


# Ex. 2
def subtra(a, b):
    print(a - b)

subtra(a=5, b=2)    # outputs: 3
subtra(b=2, a=5)    # outputs: 3

# Ex. 3
def subtra(a, b):
    print(a - b)

subtra(5, b=2)    # outputs: 3
subtra(5, 2)    # outputs: 3

3
-3
3
3
3
3

In [22]:
def name(first_name, last_name="Smith"):
    print(first_name, last_name)

name("Andy")    # outputs: Andy Smith
name("Betty", "Johnson")    # outputs: Betty Johnson (the keyword argument replaced by "Johnson")

Andy Smith
Betty Johnson

In [23]:
# exercise 1
def intro(a="James Bond", b="Bond"):
    print("My name is", b + ".", a + ".")

intro()

My name is Bond. James Bond.

In [24]:
# exercise 2
def intro(a="James Bond", b="Bond"):
    print("My name is", b + ".", a + ".")

intro(b="Sean Connery")

My name is Sean Connery. James Bond.

In [25]:
# exercise 3
def intro(a, b="Bond"):
    print("My name is", b + ".", a + ".")

intro("Susan")

My name is Bond. Susan.

In [26]:
# exercise 4
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1, c=3)

SyntaxError: non-default argument follows default argument (<ipython-input-26-baf28da15cd4>, line 1)

In [28]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
    
    print("Happy New Year!")

happy_new_year()

Three...
Two...
One...
Happy New Year!

In [30]:
def boring_function():
    return 123

x = boring_function()

print("The boring_function has returned its result. It's:", x)

The boring_function has returned its result. It's: 123

In [31]:
def boring_function():
    print("'Boredom Mode' ON.")
    return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring...")

This lesson is interesting!
'Boredom Mode' ON.
This lesson is boring...

In [33]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [34]:
def strange_function(n):
    if(n % 2 == 0):
        return True
print(strange_function(2))
print(strange_function(1))

True
None

In [36]:
def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
    
    return s
print(list_sum([5, 4, 3]))

12

In [38]:
def strange_list_fun(n):
    strange_list = []
    
    for i in range(0, n):
        strange_list.insert(0, i)
    
    return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [7]:
# Lab
def is_year_leap(year):
    if (year%4 != 0):
        return False
    elif year%100 !=0:
        return True
    elif (year%400 !=0):
        return False
    else:
        return True
        
test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"->",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [13]:
# Lab
def is_year_leap(year):
    if (year%4 != 0):
        return False
    elif year%100 !=0:
        return True
    elif (year%400 !=0):
        return False
    else:
        return True

def days_in_month(year, month):
    month_len =[31,28,31,30,31,30,31,31,30,31,30,31]
    if is_year_leap(year) == True:
        if month==2:
            return month_len[month-1]+1
        else:
            return month_len[month-1]
    else:
        return month_len[month-1]
    
test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr, mo, "->", end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK